 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #202124;
    height: 100vh;
}

.search-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/img/search-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.micro-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(img/micro-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.camera-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(img/camera-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    height: calc(100% - 60px - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}
main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
main .container figure{
    height: 92px;  /* Tamaño del logo y posicion*/
}
main .container figure img {
    height: 100%; /* porcentaje de vista */
}
main .container .searcher { /* Barra de busqueda */
    display: flex; 
    gap: 8px;
    align-items: center;
    height: 40px;
    width: 450px;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 24px;
}
main .container .searcher button { /* botones de microfono y camara  */
    border: 4px;
    background-color: transparent;
}
main .container .searcher input { /* Barra de Busqueda para cuando se escribe */
    width: 100%;
    border: none;
    color: whitesmoke;
    background-color: transparent;
    outline: none;  /* eliminado el borde */
}
main .container .searcher-buttons { /* separaador de mis botos de busqueda */
    display: flex;
    gap: 10px;
}
main .container .searcher-buttons button{ /* Estilo botones de busqueda */
    border: none;
    border-radius: 4px;
    background-color: #303134;
    padding: 12px;
    color: whitesmoke;
}
main .container p { /* Frase de donde consumimos la api */
    font-size: small;
    color: whitesmoke;
}
 /* ----------------------------------------------------------- */
.footer{
    background-color: #202124;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    padding: 10px 0;
}